# Node / build artifacts
node_modules
dist
dist-ssr

# Source control
.git

# Local env / logs
.env
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode
/.idea

# Docker files (optional to keep in image build context small)
Dockerfile
docker-compose.yml
