services:
  mongo:
    image: mongo:6
    container_name: task-manager-fs-mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: task-manager-fs-backend
    ports:
      - "5000:5000"
    depends_on:
      mongo:
        condition: service_healthy

  frontend:
    build: ./frontend
    container_name: task-manager-fs-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data: